{% extends "layout.html" %}
{% load static %} <!-- statik dosyalar için gerekli-->

{% block page_title %}
Index
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "css/style.css" %}"> <!-- global style.css statik dosyası index.html de kullanılacak-->

{% endblock %}
{% block content %}

<div class="container">
  <div class="row mt-2">
    <div class="col">
        {% for categoryName in categories %}
       
              <a class="btn btn-outline-dark
              " href="{% url "products_by_category" category=categoryName %}"> {{categoryName}} </a>
        
        {% endfor %}
    </div>
  </div>
</div>



{% endblock  %}
  
{% block js_files %}
<script src="{% static "js/scripts.js" %}"></script>

{% endblock  %}